@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Nunito:wght@300;400&family=Poppins:wght@100;200&display=swap');

.foot{
    background-color: rgb(143, 44, 159);
    color: black;
}

p:first-child{
    color:red;
    background-color: yellow;
}

div>p{
    background-color:blue;
    color:white;
}



*{
/* font-family: 'Baloo 2', sans-serif; */
/* font-family: 'Nunito', sans-serif; */
font-family: 'Poppins', sans-serif;
}

