@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Nunito:wght@300;400&family=Poppins:wght@100;200&display=swap');


/* Example on the Sample Text  */
        /* The specificity of this element selector is 1  */
        h1 {
            color: rgba(4, 26, 124, 0.852);
        }

        /* The specificity of this class selector is 10  */
        .cpurple {
            color: purple;
        }

        /* The specificity of this selector (element.class) is 1 + 10 = 11  */
        h1.yellow {
            color: yellow;
        }

        /* This is an example of attribute selector. The specificity of this selector is 10 */
        [data-x=pks] {
            color: magenta;
        }

        /* The specificity of this selector(element.class) is 10  */
        .cred {
            color: red;
        }

        /* The specificity of this selector is 1 + 10 + 10 + 10 + 10 = 41  */
        a.harryclass.rohan-class[href]:hover {
            color: blueviolet;
        }


pre{
    color: antiquewhite;
    background-color: #272822;
    border-radius: 15px;
}

*{
    font-family: 'Poppins', sans-serif;
}